public
content/slides/*.log
content/slides/*.aux
content/slides/*.out
content/slides/*.vrb
content/slides/*.pdf
content/slides/*.nav
content/slides/*.snm
content/slides/*.toc
content/slides/*_cache/
content/slides/*_files/
static/slides/*_files/

content/practice/*
!content/practice/*.tex

static/practice/*
!static/practice/*.pdf

*.Rhistory
*.DS_Store
